.well.leagues {
  padding: 0px;
  tr:hover {
    background-color: #FFFFFF;
  }
  i {
    float: right;
  }
  table {
    margin-bottom: 0px;
  }
  
  .sub-nav-leagues {
    padding: 0px 0px 5px 5px
  }
}
