.matches {
  .btn-sm, .btn-group-sm > .btn {
    padding: 0px 5px;
  }
  td, th {
    text-align: center;
    vertical-align : middle !important;
  }
  .match-date {
    padding: 0px;
  }
}

.bet-details {
  th:nth-child(1){
    width:180px;
  }
  
  th {
    padding: 0px !important;
  }
  
  tr > td {
    font-size: 12px;
    padding: 0px !important;
  }
  .table {
    margin-bottom: 0px;
  }
}
