<table ng-controller="LeaguesCtrl" class="table table-condensed">
	<tbody ng-repeat="(country, leagues) in leaguesMap">
		<tr class="nav-row" ng-click="expand(country)">
			<td><a href="">{{ country }}</a>
				<i class="glyphicon glyphicon-chevron-down" ng-if="country != expanded"></i>
				<i class="glyphicon glyphicon-minus" ng-if="country == expanded"></i>
			</td>
		</tr>
		<tr ng-show="country == expanded">
			<td class="sub-nav-leagues">
				<table class="table table-condensed">
				  	<tbody class="well">
				  		<tr ng-repeat="league in leagues">
				  			<td>
						  		<a ng-href='#/leagues/{{ league.db_name }}'>{{ league._id }}</a>
				  			</td>
				  		</tr>
			  		</tbody>
		  		</table>
			</td>
		</tr>
	</tbody>
</table>
