
<table class="table table-condensed" ng-show="showTickets()">
	<tbody class="well" ng-repeat="(ticketKey, ticket) in selectedBets">
		<tr>
			<td>{{ printMatchDate(ticketKey) }}</td>
			<td>
			<button ng-click='removeBet(ticketKey)' class="btn btn-default btn-xs ng-binding" type="button">
				x
			</button></td>
		</tr>
		<tr>
			<td colspan="2">{{ printMatch(ticketKey) }}</td>
		</tr>
		<tr>
			<td>{{ printTicket(ticket) }}</td>
			<td class="coefficient">{{ printCoefficient(ticketKey, ticket) }}</td>
		</tr>
	</tbody>
	<tbody class="well">
		<tr>
			<td colspan="2">total: 
			  <span class="coefficient-total">{{ printTicketCoefficientTotal() }}</span>
		  </td>
		</tr>
	</tbody>
	
	<tbody>
    <tr>
      <td colspan="2">
        <button class="btn btn-bet" ng-click="makeTheBid()">Make the bet!</button>
      </td>
    </tr>
  </tbody>
</table>