
<table class="table table-condensed" ng-show="showTickets()">
	<tbody class="well" ng-repeat="(ticketKey, ticket) in selectedBets">
		<tr>
			<td>{{ printMatchDate(ticketKey) | amDateFormat:'LLLL' }}
  		  <i ng-click='removeBet(ticketKey)' class="remove-ticket glyphicon glyphicon-minus" ng-if="country == expanded"></i>
		  </td>
		</tr>
		<tr>
			<td>{{ printMatch(ticketKey) }}</td>
		</tr>
		<tr>
			<td>{{ printTicket(ticket) }}
			  <span class="coefficient">{{ printCoefficient(ticketKey, ticket) }}</span> 
		  </td>
		</tr>
	</tbody>
	<tbody class="well">
		<tr>
			<td>total: 
			  <span class="coefficient-total">{{ printTicketCoefficientTotal() }}</span>
		  </td>
		</tr>
	</tbody>
	
	<tbody>
    <tr class="row-bet">
      <td>
        <button class="btn btn-bet" ng-click="makeTheBid()">Make the bet!</button>
      </td>
    </tr>
  </tbody>
</table>