<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    &times;
  </button>
  <h4 class="modal-title">Confirm your bets</h4>
</div>
<div class="modal-body">
  <table class="table table-condensed">
    <tbody class="well" ng-repeat="(ticketKey, ticket) in selectedBets">
      <tr>
        <td>{{ printMatchDate(ticketKey) }}</td>
        <td>{{ printMatch(ticketKey) }}</td>
        <td>{{ printTicket(ticket) }}</td>
        <td>{{ printCoefficient(ticketKey, ticket) }}</td>
      </tr>
    </tbody>
    <tbody class="well">
      <tr>
        <td colspan="3">total: </td>
        <td>{{ printTicketCoefficientTotal() }}</td>
      </tr>
    </tbody>
  </table>
  <progressbar ng-show='currentProgress && currentProgress != 100' class="progress-striped" value="currentProgress"></progressbar>
  <div class="row" ng-show='currentProgress==100'>
    <div id="qrcode" class="col-xs-6">
      <div id="qrcode"></div>
      <div>{{ btc_address }}</div>
    </div>
    
    <div class="col-xs-6">
      <table class="table table-condensed">
        <thead>
          <tr>
            <td>min</td>
            <td>max</td>
          </tr>
          </tbody>
          <tbody>
            <tr>
              <td>{{ btcMin }}</td>
              <td>{{ btcMax }}</td>
            </tr>
          </tbody>
      </table>
      <div id="bet-form-container">
        <div>Bet initiated at {{ counterStart | date: 'hh:mm:ss' }}</div>
        <h4 ng-if="! timerElapsed()">Bet reserved for {{ countdown | date: 'mm:ss'}} minutes</h4>
        <progressbar ng-show="! timerElapsed()" type="warning" class="progress-striped active" value="countdownPercent()"></progressbar>

        <div ng-if="! timerElapsed()">Awaiting your payment amount ...</div>
        <h4 ng-if="timerElapsed()">Your bet expired. Please bet again.</h4>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="cancel()">
    Cancel
  </button>
  <button ng-if="! currentProgress" type="button" class="btn btn-primary" ng-click="betWithBTC()">
    Bet with BTC
  </button>
</div>
