<!DOCTYPE html>
<html ng-app="hashbg_sports">
<head>
  <title>HashBG Sports</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    ...
  </div>
</nav>


<div class="container" ng-view>
  <%= yield %>
</div>

</body>
</html>